%p#notice= notice

%p
  = @meal_log.name
  %b :
  = @meal_log.from.to_formatted_s(:rfc822)
  %b -
  = @meal_log.till.to_formatted_s(:rfc822)

= link_to 'Edit', edit_meal_log_path(@meal_log)
\|
= link_to 'Back', meal_logs_path

%hr
  = link_to 'New Meal Log Entry', new_meal_log_entry_path

%hr
%h2 Listing Meal Log Entries

- @meal_log_entries.each do |day, meal_log_entries|
  %h3= format_unique_day(day)
  %table
    %thead
      %tr
        %th Time
        %th Meal
        %th
        %th
        %th

    %tbody
      - for meal_log_entry in meal_log_entries.each
        %tr
          %td.eaten= format_eaten_on(meal_log_entry.eaten_on)
          %td.name= meal_log_entry.meal
          %td= link_to 'Show', meal_log_entry
          %td= link_to 'Edit', edit_meal_log_entry_path(meal_log_entry)
          %td= link_to 'Destroy', meal_log_entry, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Meal log entry', new_meal_log_entry_path
