= simple_form_for @meal do |f|
  - if @meal.errors.any?
    #error_explanation
      %h2= "#{pluralize(@meal.errors.count, "error")} prohibited this dummydish from being saved:"
      %ul>
      - @meal.errors.full_messages.each do |message|
        %li= message
  = f.input :dish_id, collection: Dish.all.map { |d| [d.name, d.id] }, prompt: 'Select a dish'
  = f.input :eaten_on
  = f.button :submit
