= form_for(@meal) do |f|
  - if @meal.errors.any?
    #error_explanation
      %h2= "#{pluralize(@meal.errors.count, "error")} prohibited this dummydish from being saved:"
      %ul>
      - @meal.errors.full_messages.each do |message|
        %li= message
  .field
    = f.label :dish_id
    %br/
    = f.select :dish_id, Dish.all.map { |d| [d.name, d.id] }, prompt: 'Select a dish'
  .field
    = f.label :eaten_on
    %br/
    = f.date_field :eaten_on
  .actions
    = f.submit
